/* Dual ar0330 camera module for MEISSA */

&i2c1 {
        /* ar0330_mipi_parallel_1 camera interface with Toshiba bridge */
        ar0330_mipi_parallel_1: ar0330@3C {
                compatible = "ar0330_cam_par1";
                reg = <0x3C>;
                pinctrl-names = "default";
                pinctrl-0 = <&pinctrl_ipu1_2>;
                pwms = <&pwm3 0 33333333>;
                clocks = <&clks 201>;
                clock-names = "csi_mclk";
                DOVDD-supply = <&vgen4_reg>; /* 1.8v */ /* Not sure of these three values */
                AVDD-supply = <&vgen3_reg>;  /* 2.8v, on rev C board is VGEN3,
                                                on rev B board is VGEN5 */
                DVDD-supply = <&vgen2_reg>;  /* 1.5v*/
                pwn-gpios = <&gpio5 14 1>;
                rst-gpios = <&gpio5 9 0>;
                ipu_id = <0>;
                csi_id = <0>;
                mclk = <24000000>;
                mclk_source = <0>;
                status="okay";
        };
};

&i2c2 {
        /* ar0330_mipi_parallel_2 camera interface with Toshiba bridge */
        ar0330_mipi_parallel_2: ar0330@3C {
                compatible = "ar0330_cam_par2";
                reg = <0x3C>;
                pinctrl-names = "default";
                pinctrl-0 = <&pinctrl_ov5640_csi1>;
                pwms = <&pwm3 0 33333333>;
                clocks = <&clks 201>;
                clock-names = "csi_mclk";
                DOVDD-supply = <&vgen4_reg>; /* 1.8v */ /* Not sure of these three values */
                AVDD-supply = <&vgen3_reg>;  /* 2.8v, on rev C board is VGEN3,
                                                on rev B board is VGEN5 */
                DVDD-supply = <&vgen2_reg>;  /* 1.5v*/
                pwn-gpios = <&gpio5 14 1>;
                rst-gpios = <&gpio5 9 0>;
                ipu_id = <1>;
                csi_id = <1>;
                mclk = <24000000>;
                mclk_source = <0>;
                status="okay";
        };
};
