/* RTC driver and CODEC driver for MEISSA base board */

#include <dt-bindings/input/input.h>

/ {
sound {
                compatible = "fsl,imx6q-esomimx6-wm8750",
                              "fsl,imx-audio-wm8750";
		model = "wm8750-audio";
                ssi-controller = <&ssi1>;
                audio-codec = <&codec>;
                audio-routing =
                        "Headphone Jack", "LOUT1",
                        "Headphone Jack", "ROUT1";
                mux-int-port = <1>;
                mux-ext-port = <3>;
       };

};

&i2c1 {
	pcf8523_rtc@68 {
		compatible = "nxp,pcf8523";
		reg = <0x68>;
	};
	codec: wm8750@1a {
		compatible = "wlf,wm8750";
                reg = <0x1a>;
                clocks = <&clks 201>;
                DCVDD-supply = <&reg_audio>;
                DBVDD-supply = <&reg_audio>;
                AVDD-supply = <&reg_3p3v>;
                HPVDD-supply = <&reg_3p3v>;
	};

};

